{% extends 'base_user.html' %}
{% load static %}

{% block ext_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'axf/user/css/register.css' %}">
{% endblock %}

{% block ext_js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'axf/user/js/valid-img.js' %}"></script>
{% endblock %}

{% block content %}
    <form method="post" action="{% url 'App:forget_password' %}" ">
    {% csrf_token %}
    <div class="form-group">
        <label for="email_input">邮箱</label>
        <input type="email" class="form-control" name="email" id="email_input" placeholder="请输入邮箱地址">
    </div>

    <div>
        <img id="valid-img" src="{% url 'App:get_code' %}" alt="刷新重试">
        <input type="text" name="verify_code" placeholder="点击图片刷新验证码!">
    </div>

    <button type="submit" class="btn btn-success btn-block">验证邮箱</button>

    <div class="more">
        <p>
                <span>
                    <a href="{% url 'App:login' %}"><u>返回登陆？</u></a>
                </span>
            <span class="right">
                    <a href="{% url 'App:register' %}"><u>注册账号？</u></a>
                </span>
        </p>

        <p class="error_message">{{ error_message }}</p>
    </div>
    </form>
{% endblock %}
