{% extends 'base_user.html' %}
{% load static %}

{% block ext_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'axf/user/css/register.css' %}">
{% endblock %}

{% block ext_js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'axf/user/js/reset_password.js' %}"></script>
{% endblock %}


{% block content %}
    <form method="post" action="{% url 'App:reset_password' %}" onsubmit="return check()">
        {% csrf_token %}

        <div class="form-group">
            <label for="password_input">密码</label>
            <input type="password" class="form-control" name="new_password" id="password_input" placeholder="请输入密码">
        </div>
        <div class="form-group">
            <label for="password_confirm_input">确认密码</label>
            <input type="password" class="form-control" id="password_confirm_input" placeholder="请再次输入密码">
        </div>

        <button type="submit" class="btn btn-success btn-block">重设密码</button>
        <p>请在5分钟之内完成密码重设</p>


        <div class="more">
            <p>
                <span>
                    <a href="{% url 'App:login' %}"><u>返回登陆？</u></a>
                </span>
                <span class="right">
                    <a href="{% url 'App:register' %}"><u>注册账号？</u></a>
                </span>
            </p>

            <p class="error_message">{{ error_message }}</p>
        </div>

    </form>
{% endblock %}